@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family:'Poppins', sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
}

.header{
    min-height: 16vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    color: black;
    border-bottom: solid black;
}

.left img {
    width: 160px;
}


.navbar {
    display: flex;
    justify-items: center;
    align-items: center;
    font-size: 18px;
}

.navbar a{
    padding: 0px 14px;
    text-decoration: none;
    color: #666666;
}

.navbar a:hover{
    color: #f47253;
}

.right button {
    margin: 0px 9px;
    background:linear-gradient(45deg, #f47253, #e44485);
    color: white;
    width: 185px;
    padding: 10px 25px;
    border-radius: 18px;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.right button:hover {
    background-color: rgb(31, 30, 30);
}

.container {
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}